<app-source (sourceId)='getSourceId($event)'></app-source>
<div style="text-align: center;">
    <span *ngIf="loading" class="loading"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    <span style="font-size: 20px;margin-top:0px;top :0px; text-align: center"></span></span>
</div>
<div class="newslist">
    <div class="container">
        <ul class="media-list">
            <li class="media" *ngFor="let item of articleArray">
                <div class="media-left">
                    <a target="_blank">
                        <img class="media-object" src="{{item.urlToImage}}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a target="_blank" [href]="item.url">{{item.title}}</a></h4>
                    <h5 *ngIf="item?.author !== null"> <i>by {{item.author}}</i></h5>
                    <p>{{item.description}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>