<div class="sourceselection">
    <div>
        <div class="jumbotron">
            <h2><span class="glyphicon glyphicon-list-alt"></span>&nbsp;News List</h2>
            <h4>Select News Source</h4>
            <div class="col-sm-3 col-md-4 col-lg-12">
                <select class="form-control" [(ngModel)]="sourceItem" (change)="getSoucreDetail(sourceItem)" name='source'>
                    <option [value]="sourceItem" [disabled]= "true">Select Source</option>
                    <option *ngFor="let item of sourceArray" [ngValue]="item">
                        {{item.name}}
                    </option>
                </select>
            </div>
            <div>
                <h6 style="margin-top: 20px">{{sourceObject?.description}}</h6>
                <a style="margin-top: 20px" class="btn btn-primary" target="_blank" [class.disabled]="sourceObject?.url === undefined"
                 [href]="sourceObject?.url">
                    Go To  {{sourceObject?.name}}  Website
                    </a>
            </div>
        </div>
    </div>
</div>